{% extends 'core/base.html' %}
{% block title %}{{ movie.title }}{% endblock %}
{% load staticfiles %}

{% block body %}

<div class="col-sm-4 col-lg-2">
    <div class="thumbnail">

        <img src="{{ movie.image_url }}">

    </div>
</div>
    
        <h2>Movie Title: {{ movie.title }}</h2>
        <h4>Production Company:  {{ movie.production_company }}</h4>

        {% if movie.rating == None %}
            <h4>Average Rating: <img src="{% static 'core/images/wtsicon.png' %}"  style="height: 26px; width: 25px;"/>
            Not rated yet</h4>
        {% else %}
            <h4>Average Rating: <img src="{% static 'core/images/tomato.png' %}"  style="height: 26px; width: 25px;"/>
            {{ movie.rating }} %</h4>
        {% endif %}

{% endblock %}