{% extends 'core/base.html' %}
{% block title %}{{ movie.title }}{% endblock %}

{% block body %}

<div class="col-sm-4 col-lg-2">
    <div class="thumbnail">

        <img src="{{ movie.image_url }}">

    </div>
</div>
    
        <h2>Movie Title: {{ movie.title }}</h2>
        <h4>Production Company:  {{ movie.production_company }}</h4>

        {% if movie.rating == None %}
            <h4>Average Rating: Not rated yet</h4>
        {% else %}
            <h4>Average Rating: {{ movie.rating }} %</h4>
        {% endif %}

{% endblock %}