{% extends 'core/base.html' %}
{% block title %}{{ movie.title }}{% endblock %}
{% load staticfiles %}

{% block body %}

            {% for movie in all_movies|slice:":5" %}
            <div class="">
                <div class="thumbnail">
                    <div class="caption">
                        <p><h4>Position: {{ movie.position }}</h4>
                        <h4>Movie Title: <a href="{% url 'core:detail' movie.id %}">{{ movie.title }}</a></h4>
                        <h4>Production company: {{ movie.production_company }}</h4>
                        {% if movie.rating == None %}

                        <h4>Average Rating: <img src="{% static 'core/images/wtsicon.png' %}"  style="height: 26px; width: 25px;"/>
                        Not rated yet.</h4>

                        {% else %}
                        <h4>Average Rating: <img alt="" src="{% static 'core/images/tomato.png' %}" style="height: 26px; width: 25px;" /> {{ movie.rating }} %</h4>
                        {% endif %}</p>

                        <p><img src="{{ movie.image_url }}"></p>

                        <form action="{% url 'core:movie-update' movie.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="movie_id" value="{{ transaction.id }}" />
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>

                        <form action="{% url 'core:movie-delete' movie.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="movie_id" value="{{ movie.id }}" />
                            <button type="submit" class="btn btn-default btn-sm">
                                 <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>


                    </div>
                </div>
            </div>
            {% endfor %}









{% endblock %}